.about-description {
    text-align: left;
}

/* .about-section {
    max-height: 100%;
    overflow-y: auto;
} */

.about-section::-webkit-scrollbar {
    display: none;
}
.about-section {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.work-card{
    
    margin-bottom: 16px;
}