.work-card {
    background-color: #001c30;
    color: white;
    border: none;
    padding: 1rem !important;
    transition: all 0.3s ease;
}

.work-card:hover {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.work-card-image {
    width: 100%; 
    height: auto;
    /* max-height: 250px; */
    object-fit: cover;
    border: 2px solid gray;
}

.work-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.work-card-description {
    word-wrap: break-word; /* Ensure long words break and wrap */
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    max-height: 250px; /* Set a max height if needed */
    margin-bottom: 10px; /* Add margin for spacing */
    font-size: 0.9rem;
    text-align: left;
  }

.custom-card-body {
    padding: 1rem !important;
    /* Override the default padding */
}

.badge-custom {
    margin-right: 5px;
    background-color: #007bff;
    color: white;
}

@media (max-width: 576px) {
    .work-card-description {
        max-height: none; /* Remove max-height on small screens */
        margin-bottom: 20px; /* Increase margin for better spacing */
    }

    .badge-container {
        justify-content:left; /* Center badges on small screens */
    }
}