.work-card {
    background-color: #001c30;
    color: white;
    border: none;
    padding: 1rem !important;
    transition: all 0.3s ease;
}

.work-card:hover {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.work-card-image {
    width: 100%;
    height: auto;
    /* max-height: 250px; */
    object-fit: cover;
    border: 2px solid gray;
}

.work-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.work-card-description {
    word-wrap: break-word;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    max-height: 250px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-align: left;
}

.work-card-link {
    display: inline-block;
    margin-right: 10px;
    color: #ffff;
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: underline;
}

.work-card-link:hover {
    color: #64CCC5;
}

.link-icon {
    margin-left: 3px;
    scale: 0.75;
}

.work-card-link:hover .link-icon {
    /*move little to corner right if hovered*/
    transform: translate(3px, -3px);
    transition: transform 0.3s ease;
}


.links-container {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ffff !important;
}

.badge-container {
    margin-top: 10px;
}

.custom-card-body {
    padding: 1rem !important;
}

.badge-custom {
    margin-right: 5px;
    background-color: #007bff;
    color: white;
}

@media (max-width: 576px) {
    .work-card-description {
        max-height: none;
        margin-bottom: 20px;
    }

    .badge-container {
        justify-content: left;
    }
}