.links {
    color: #c4d0ec; /* Set the initial color */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .links:hover {
    color: #64CCC5; /* Change to your desired hover color */
  }

.sidebar-title{
    text-align: left;
    font-size: 3.5rem;
    font-weight: bold;
}